.nav{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    right: inherit;
    padding-left: 15px;
}
.header{
    background-color: blueviolet;
}
.btn{
  padding-top: 10px;
}
.text-box {
  margin-left: 44vw;
 margin-top: 42vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
.login{
  padding-top: 10px;
}
.title{
  padding-top: 10px;
}
.img{
  max-width: 25px;
  max-height: 25px;
}
.card{
  padding-top: 15px;
  border-radius: 15px;
}
.card__group1{
  background-color: silver;
}
.card__group2{
  background-color: silver;
  box-shadow: 10px 5px 5px red;
}
.example-parent {
  border: 2px solid #DFA612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.example-draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.example-dropzone {
  background-color: #6DB65B;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}
.lead{
  background-color: #6DB65B;
}
.devop{
  background-color: yellow;
}
.money{
  background-color: aqua;
}
.end{
  text-align: center;
  border: dotted;
}
.devops{
  border: dotted;
}
.moneys{
  border: dotted;
}